<div class="bug">
    <h3>{{ bug.description }}</h4>
        <div class="bug-footer">
            <p class="priority">{{ bug.priority.level }}</p>
            <div class="icons">
                {% if bug.status.id == 1 %}
                    <i class="fas fa-database fa-2x"></i>
                    <i class="fas fa-user-slash fa-2x move-right" data-bug-id="{{ bug.id }}" data-next-status="2"></i>
                {% elseif  bug.status.id == 2 %}
                    <i class="fas fa-user fa-2x"></i>
                    <i class="fas fa-wrench fa-2x"></i>
                    <i class="far fa-thumbs-up fa-3x move-right" data-bug-id="{{ bug.id }}" data-next-status="3"></i>
                {% elseif  bug.status.id == 3 %}
                    <i class="far fa-arrow-alt-circle-left fa-2x move-left" data-bug-id="{{ bug.id }}" data-prev-status="2"></i>
                    <i class="fas fa-user fa-2x"></i>
                    <i class="fas fa-search fa-2x"></i>
                    <i class="far fa-thumbs-up fa-3x move-right" data-bug-id="{{ bug.id }}" data-next-status="4"></i>
                {% else %}
                    <i class="far fa-arrow-alt-circle-left fa-2x move-left" data-bug-id="{{ bug.id }}" data-prev-status="3"></i>
                    <i class="fas fa-check-circle fa-2x"></i>
                {% endif %}
            </div>
        </div>
</div>